.*
*~
/firmware/microlux/build
/driver/ascom/microlux-driver/bin
/driver/ascom/microlux-driver/lib
/driver/ascom/microlux-driver/obj
/hardware/eagle/*.TXT
**/packages
*.sw*
*.suo
*.user
*.sln.docstates
*.GBL
*.GBS
*.GML
*.GTL
*.GTO
*.GTS
*.dri
*.gpi
!.git*
!.mailmap
.gitignore~
.gitignore.sw*
